body {
  box-sizing: border-box;
  margin: auto;
  display: contents;
  justify-content: center;
  align-items: center;
}
h2,
h3 {
  font-size: x-large;
  font-style: oblique;
  font-weight: bold;
}

ul li {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: cornflowerblue;
  padding: 30px 40px;
  color: wheat;
  text-align: center;
}
.list {
  background-color: cornflowerblue;
  padding: 30px 40px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  /* margin: 0; */
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: goldenrod;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
